{% extends "base.html.twig" %}


{% block title %}
	{{ 'home.page_title'|trans({'%title%': ''}) }}
{% endblock %}
{% block body %}

	<h1>All products</h1>

	<div class="row">
		{% for product in products %}
			<div class="col">
				{{include('product/_product_card.html.twig')}}
			</div>
		{% endfor %}
	</div>

	<hr>

	<h2>Service unreachable</h2>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing eli. magni pariatur voluptatem cumque sed. Debitis quam iusto ab accusantium perferendis maxime reiciendis sunt?</p>
	<div class="row">
		{% include "shared/_assurance.html.twig" with {
            'color' : 'primary',
            'icon' : 'fa-truck',
            'text' : "Lorem ipsum, dolor sit amet consectetur adipisicing eli. magni pariatur10"
        } %}
		{% include "shared/_assurance.html.twig" with {
            'color' : 'success',
            'icon' : 'fa-check',
            'text' : "Lorem ipsum, dolor sit amet consectetur adipisicing eli. magni pariatur10"
        } %}
		{% include "shared/_assurance.html.twig" with {
            'color' : 'warning',
            'icon' : 'fa-lock',
            'text' : "Lorem ipsum, dolor sit amet consectetur adipisicing eli. magni pariatur10"
        } %}
	</div>
{% endblock %}
